#buscar-usuarios {
    background-color: #FFF;
    border-radius: 10px;
    margin: 30px auto;
    padding: 15px 30px;
    text-align: left;
    width: 92%;
}
#buscar-pacientes {
    background-color: #FFF;
    border-radius: 10px;
    margin: 30px auto;
    padding: 15px 30px;
    text-align: left;
    width: 92%;
}
.icon {
    cursor: pointer;
}
.icono-tabla {
    background-color: #FFF !important;
    border-bottom-color: transparent !important;
    padding-right: 5px;
}
#usuarios {
    border-collapse: collapse;
    width: 100%;
}
#usuarios th {
    background-color: #67B9D4;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
}
#usuarios td {
    border-bottom: 1px solid #67B9D4;
    padding: auto 2px;
}