@charset"utf-8";

.area-frontal {
    background-color: #FFF;
    border-radius: 10px;
    margin: 100px auto;
    padding: 40px 100px;
    text-align: justify;
    width: 70%;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
form {
    display: block
}
.ayuda {
    color: #6FC8E5;
}
.ayuda:hover {
    color: #4799B4;
    cursor: pointer;
}
body {
    /* Exploradores Antiguos */
    background-color: #F8F8F8;
    background-repeat: repeat-x;
    /* Safari 4+ y Chrome 1+ */
    background-image: -webkit-linear-gradient(top, #E0E0E0 0%, #F8F8F8 100%);
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(left bottom, #E0E0E0 0%, #F8F8F8 100%);
    /* Internet Explorer 5.5+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#E8E8E8, endColorstr=#F8F8F8, GradientType=0);
    /* Internet Explorer 10+ */
    background-image: -ms-linear-gradient(top, #E0E0E0 0%, #E8E8E8 50%, #F0F0F0 51%, #F8F8F8 100%);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #E0E0E0 0%, #E8E8E8 50%, #F0F0F0 51%, #F8F8F8 100%);
    background-repeat: repeat-x;
    font-family: Arial, Verdana, sans-serif;
    font-size: relative;
    margin: 0;
    padding: 0;
}
.boton {
    background-color: #6FC8E5;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    margin: 35px auto;
    outline: none;
    text-align: center;
    width: 200px;
}
.boton:focus {
    background-color: #4799B4;
    border: none;
}
.boton:hover {
    background-color: #4799B4;
}
.busqueda {
    background-color: #FFF;
    border-radius: 10px;
    margin: 30px auto;
    padding: 15px 30px;
    text-align: left;
    width: 85%;
}
.busqueda table {
    border-collapse: collapse;
    width: 100%;
}
.busqueda table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.busqueda table tr:hover {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.busqueda table th {
    -webkit-font-smoothing: antialiased;
    background-color: #67B9D4;
    border: 1px solid #FFF;
    color: #FFF;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}
.busqueda table td {
    border-bottom: 1px solid #67B9D4;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    padding: auto 2px;
}
.contenedor-formulario {
    background-color: #FFF;
    border-radius: 10px;
    display: table;
    margin: 30px auto;
    padding: 15px 150px;
    text-align: left;
}
.enlace-registrar {
    color: #000;
    cursor: pointer;
    font-size: 22px;
    outline: none;
    text-align: left;
    text-decoration: none;
}
.enlace-registrar:hover {
    color: #67B9D4;
}
.formulario {
    margin: 0 auto;
}
.formulario tr td {
    margin-right: 8px;
}
header a {
    color: #A14C5E;
    display: inline-block;
    font-size: 22px;
    padding: 32px 30px;
    text-decoration: none;
}
header .contenedor {
    background-color: #67B9D4;
    border-bottom: 2px solid #A14C5E;
    height: auto;
    min-height: 83px;
}
header .contenido {
    color: #A14C5E;
    float: left;
    font-size: 28px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}
header label {
    color: #A14C5E;
    display: inline-block;
    font-size: 30px;
    padding: 25px 100px;
}
header .perfil {
    float: right;
    padding: 32px 50px;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    color: #6FC8E5;
}
.icono-tabla {
    background-color: #FFF !important;
    border-bottom-color: transparent !important;
    text-align: center;
}
.icono-tabla .borrar {
    padding-right: 15px;
}
input {
    border: 4px solid #6FC8E5;
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    margin-top: 8px;
    margin-left: 2px;
    outline: none;
    width: 240px;
}
input:-webkit-autofill {
    /*Evita el color de fondo amarillo en google Chrome para los campos autocompletados*/
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus {
    border: 4px solid #4799B4;
}
input[type="radio"] {
    height: 15px;
    width: 15px;
}
input[readonly="readonly"] {
    background-color: #ECECEC;
}
.items-perfil {
    position: absolute;
    display: none;
    background: #FFF;
    right: 0;
    top: 83px;
    border-bottom: 2px solid #A14C5E;
    border-left: 2px solid #A14C5E;
    border-right: 2px solid #A14C5E;
}
.items-perfil a {
    display: block;
    color: #A14C5E;
}
.menu {
    position: relative;
}
.navcontainer {
    position: relative;
    margin: 0 auto;
    margin-left: 1%;
    text-align: center;
    float: left;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: block;
}
.oculto {
    display: none;
}
select {
    border: 4px solid #6FC8E5;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    margin-top: 8px;
    outline: none;
    width: auto;
}
select:focus {
    border: 4px solid #4799B4;
}
.status {
    font-size: 22px;
    text-align: center;
    text-decoration-style: solid;
}
.tlf {
    width: 45px;
}
.tlf_casa {
    width: 80px !important;
}
.tooltipster-theme {
    background: #6FC8E5;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.tooltipster-theme .tooltipster-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}