.forgot-password-container,
.login-container {
    background-color: #FFF;
    border-radius: 10px;
    color: #08088A;
    display: table;
    font-size: 25px;
    margin: 120px auto;
    padding: 20px 120px;
    text-align: left;
}