.inicio-sesion {
    background-color: #FFF;
    border-radius: 10px;
    color: #A14C5E;
    font-size: 25px;
    margin: 100px auto;
    padding: 20px 50px;
    text-align: left;
    width: 450px;
}