.contenedor-form-login {
    background-color: #FFF;
    border-radius: 10px;
    color: #A14C5E;
    display: table;
    font-size: 25px;
    margin: 120px auto;
    padding: 20px 120px;
    text-align: left;
}