# Archivo de configuración para la BD
/config.php

# Base de datos
/Historias Clínicas.sql

# Fuentes
/css/font-awesome.min.css
/fonts/*

# Plugins
/css/jquery.datetimepicker.css
/css/tooltipster.css
/js/jquery-2.1.1.min.js
/js/jquery-2.1.1.min.map
/js/jquery.datetimepicker.js
/js/jquery.tooltipster.min.js

# Librerias
/PHPMailer/*

# Extras
Paleta.txt